@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BasicTaskList.RazorPages</h1>
    <br /><br />
    <div class="card">
        <h4 class="card-body">An application that provides basic task list functionality</h4>
        <h5 class="card-body">Click the Folders link in the nav bar above to get started</h5>
        <h6 class="card-body">You will find sample folders and sample tasks that show what the application can do. You can edit or even delete these sample folders and tasks down the road.</h6>
    </div>
</div>
